extends layout

block navbar
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container-fluid

            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav')
                    span.sr-only Toggle navigation
                    // hamburger button
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#top') Home

            #main-nav.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(class="btn-blog", href='//blog.sxu.ca') Blog
                    li
                        a(class="btn-resume", href='/files/resume.pdf') Resume
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#profile') Profile
                    li
                        a(href='#experiences') Experiences
                    li
                        a(href='#abilities') Abilities
                    li
                        a(href='#interests') Interests
                    li
                        a(href='#contact') Contact

block jumbotron
    section#top.jumbotron.carousel.slide(data-ride='carousel', data-pause='')
        .container
            h1 Steven Xu
            .separator
            p.sub personal website
        .layer

        ol.carousel-indicators
            li.active(data-target='#top', data-slide-to='0')
            li(data-target='#top', data-slide-to='1')
            li(data-target='#top', data-slide-to='2')
            li(data-target='#top', data-slide-to='3')
            li(data-target='#top', data-slide-to='4')
            li(data-target='#top', data-slide-to='5')
        .carousel-inner(role='listbox')
            .item.carousel-item-1.active
            .item.carousel-item-2
            .item.carousel-item-3
            .item.carousel-item-4
            .item.carousel-item-5
            .item.carousel-item-6
        a.left.carousel-control(href='#top', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden=true)
            span.sr-only Previous
        a.right.carousel-control(href='#top', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden=true)
            span.sr-only Next

block profile
    section.background-white
        section#profile.container(data-sr='')
            h2 Profile
            p.sub I'm a passionate developer.
            hr
            .row
                .col-md-4
                    h3 About me
                    p
                        | I am a 4A Computer Science student from University of Waterloo. I am an iOS developer, technology lover, half marathon runner and German learner.
                .col-md-4.text-center
                    img#me(src='dist/img/steven.png', alt='Steven Xu')
                .col-md-4
                    h3 Details
                    p
                        strong Name:
                    p Wen (Steven) Xu
                    p
                        strong Age:
                    p 22
                    p
                        strong Favorite Food:
                    p Beef noodle soup

block experiences
    section.background-blue
        #experiences.container
            h2 Experiences
            p.sub The only source of knowledge is experience.
            hr
            section
                h3 Education
                .experiences
                    +experience('University of Waterloo',
                                'Sep 2013 - present',
                                'Waterloo, Ontario, Canada',
                                'Candidate for Bachelor of Computer Science',
                                'Going to Waterloo is the most important and successful desicion I have made in my life. Not only have I learned the fundamentals of CS from the best, but crucially I have acquired the spirit of always learning and always pushing myself forward. I enjoy studying and working with people who are more experienced and talented than me, and I strive to be one of them.')

                    +experience('National Institute of Technology',
                                'Sep 2010 - Nov 2012',
                                'Beijing, China',
                                'High school - Science',
                                'High school is where I enjoyed doing science and math. I realized in year 11 that I liked working with computers, so I started to make small C programs.')
            hr
            section
                h3 Careers
                .experiences
                    +experience('Wattpad',
                                'Sep 2016 - Dec 2016',
                                'Toronto, Ontario, Canada',
                                'iOS Developer',
                                'Wattpad is how millions of users find, read and share stories that matter to them. As an iOS developer on the Audience/Voyager squad, I conducted various client side experiments with A/B testing for the onboarding process, home and search experience. I also helped the team adopt Swift and Auto Layout. I definitely learned tons of iOS related development experience.')

                    +experience('WeMesh Inc.',
                                'Jan 2016 - Apr 2016',
                                'Kitchener, Ontario, Canada',
                                'Software Engineering, iOS',
                                'WeMesh is a true startup with only 4 full time employees, therefore I have gained quite different experiences. As a member of the iOS team, I touched every corner of the code base - from UI to new API integration, from major code refactor to localization and internationalization. WeMesh made me a fan of working in startup companies.')

                    +experience('Hootsuite Media Inc.',
                                'May 2015 - Aug 2015',
                                'Vancouver, British Columbia, Canada',
                                'Software Engineering, JavaScript',
                                'I absolutely enjoyed working with the Campaigns UX team at Hootsuite. I worked with a number of cutting edge front-end tools such as Webpack, Gulp, Jasmine etc, and worked on a variety of features. You can read about my contributions <a href="http://code.hootsuite.com/co-ops/steven-xu/">here</a>.')

                    +experience('Ontario Institute of Cancer Research',
                                'Aug 2014 - Dec 2014',
                                'Toronto, Ontario, Canada',
                                'Web Developer and Themer',
                                'At the webdev team at OICR, I explored various technologies and developed prototypes of web apps and services. With a team member, our "WEB SSH" tool won the best hack day project. I was also responsible for the technical parts of new employee training sessions. My presentation on HTML5 was considered "cool and resourceful". <a href="//blog.sxu.ca/coop/2015/01/19/web-developer-at-oicr.html">Read more</a>')

                    +experience('EnglishFirst',
                                'May 2013 - June 2013',
                                'Beijing, China',
                                'Teaching Assistant',
                                'As a career starter, my primary task at EF was offering K-12 students personalized English lessons with focus on listening and writing skills, as well as assisting senior teachers in class (preparing materials, making demos, correcting homework and exam papers, etc). My communication skills and time management skills were greatly improved.')
            hr
            section
                h3 Projects
                .experiences
                    +projectExperience('Eastern T',
                                       'Sep 2016',
                                       'https://github.com/stevenwenxu/EasternT',
                                       'Swift, Alamofire, node.js',
                                       'I made this app with a group of friends during Hack The North 2016. It\'s a simutaneous interpreting (i.e. real time voice to voice translating) app. We used the new iOS 10 Speech.framework and Microsoft Translate for the basic functions, and a node.js web socket server for always-on cross-device conference call. It\'s really cool, check it out!')
                        p.project-screenshots
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/KyRCpg-hGoo" frameborder="0" allowfullscreen></iframe>

                    +projectExperience('On The Map',
                                       'Mar 2016',
                                       'https://github.com/stevenwenxu/On-The-Map-Udacity',
                                       'Swift, Parse, Facebook SDK',
                                       'Post your name, location and portfolio url, and see all other Udacity students on the map from around the world!')
                        p.project-screenshots
                            img(src='https://raw.githubusercontent.com/stevenwenxu/On-The-Map-Udacity/master/screenshots/Login.png' alt='Login screenshot' width=150)
                            img(src='https://raw.githubusercontent.com/stevenwenxu/On-The-Map-Udacity/master/screenshots/MapView.png' alt='MapView screenshot' width=150)
                            img(src='https://raw.githubusercontent.com/stevenwenxu/On-The-Map-Udacity/master/screenshots/TableView.png' alt='TableView screenshot' width=150)
                            img(src='https://raw.githubusercontent.com/stevenwenxu/On-The-Map-Udacity/master/screenshots/ShareLink.png' alt='ShareLink screenshot' width=150)

                    +projectExperience('MyoMuse',
                                       'Jan 2016',
                                       'https://github.com/group536',
                                       'Swift, Myo iOS SDK, RxJS',
                                       'We won the first place at WaterlooHacks! When you are running with a Myo armband, the app chooses songs in your playlist that match your current running tempo. Your sprinting and jogging experience will never be the same again.')

                    +projectExperience('Personal Website',
                                       'Oct 2014',
                                       'https://github.com/stevenwenxu/stevenwenxu.github.io',
                                       'HTML5, jQuery, CSS, Bootstrap',
                                       'This website is running on Heroku with node.js. Some front-end packages involved: <a href="http://scrollrevealjs.org/">scrollReveal.js</a>, <a href="http://isotope.metafizzy.co/">Isotope</a>. This was a fun learning experience. The <a href="//blog.sxu.ca">Blog</a> is powered by Jekyll.')

block abilities
    section.background-white
        #abilities.container
            h2 Abilities
            p.sub Practice makes perfect.
            hr
            section
                h3(data-sr='enter left') iOS
                .row
                    .col-md-6(data-sr='enter left')
                        ul.no-bullets
                            +ability('Swift', 3, true)
                            +ability('Objective-C', 3)
                            +ability('AFNetworking / Alamofire', 3)

                    .col-md-6(data-sr='enter right')
                        ul.no-bullets
                            +ability('Auto Layout / Manual Layout', 3)
                            +ability('Core Data', 2)
                            +ability('Instruments', 2)
            hr
            section
                h3(data-sr='enter left') Web
                .row
                    .col-md-6(data-sr='enter left')
                        ul.no-bullets
                            +ability('HTML / CSS / JavaScript / jQuery', 4)
                            +ability('Bootstrap', 3)
                            +ability('Responsive Design', 3)
                            +ability('PHP / Laravel', 2)
                            +ability('node.js / express.js', 2)

                    .col-md-6(data-sr='enter right')
                        ul.no-bullets
                            +ability('Heroku / AWS EC2 / Digital Ocean', 4)
                            +ability('Gulp', 3)
                            +ability('Webpack', 3)
                            +ability('CasperJS / Jasmine', 3)
                            +ability('Drupal / Wordpress', 3)
            hr
            section
                h3(data-sr='enter left') Others
                .row
                    .col-md-6(data-sr='enter left')
                        ul.no-bullets
                            +ability('Git', 4)
                            +ability('Vagrant / Docker', 4)

                    .col-md-6(data-sr='enter right')
                        ul.no-bullets
                            +ability('Jenkins', 3)
                            +ability('MySQL', 3)
            hr
            section
                h3(data-sr='enter left') Languages
                .row
                    .col-md-6(data-sr='enter left')
                        ul.no-bullets
                            +ability('Mandarin Chinese', 5)
                            +ability('English', 5)
                    .col-md-6(data-sr='enter right')
                        ul.no-bullets
                            +ability('German', 2, true)
                            +ability('French', 1)

block interests
    section.background-blue
        #interests.container
            h2 Interests
            p.sub Passion is energy.
            hr
            section(data-sr='enter left')
                +interest('Piano',
                          'dist/img/piano.png',
                          'I started playing piano at the age of 6. Spending several hours on a piano is always a huge treat for me to relax. Sometimes I improvise stuff, and create my own piano accompanies for pop songs.')(class='left')
            section(data-sr='enter right')
                +interest('Running',
                          'dist/img/running.png',
                          'I love running and I run 10k every week. Checkout my experience in running Waterloo Half Marathon 2016!')(class='right')
            section(data-sr='enter left')
                +interest('Ping Pong',
                          'dist/img/ping.png',
                          'I love to be challenged! I may be an average player but I only get better when you beat me!')(class='left')
            section(data-sr='enter right')
                +interest('Languages',
                          'dist/img/duolingo.png',
                          'I really love learning langauges. In addition to English and Mandarin, I am also able to speak some German. I\'ve been taking a minor in German in University, and also challenging myself on Duolingo. My gut feelings for languages always suprise me - I can understant a lot of stuff without vocab support.')(class='right')

block contact
    section.background-gray
        #contact.container(data-sr='')
            h2 Contact
            hr
            .row.feedback-form
                form
                    .form-group
                        label(for='name') Name
                        input.form-control.required#name(type='text', required=true, name='name')
                    .form-group
                        label(for='email') Email (Optional)
                        input.form-control.email#email(type='email', name='email')
                    .form-group
                        label(for='message') Message
                        textarea.form-control.required#message(rows='5', required=true, name='message')
                    .form-group
                        label
                        .g-recaptcha(data-sitekey="6Lee_xITAAAAADBS-9TkXI54wTKv2w7QB1nLzoB7")
                    .form-group
                        label
                        input.form-control.submitFeedback(type='submit')
            .row.text-center
                .contact
                    a(href='http://ca.linkedin.com/pub/steven-xu/76/263/18b/', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-linkedin.fa-stack-1x
                .contact
                    a(href='https://github.com/stevenwenxu', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-github.fa-stack-1x
                .contact
                    a(href='mailto:steven@sxu.ca', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-envelope.fa-stack-1x
                .contact
                    a(href='https://twitter.com/steven_xu11', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x
                .contact
                    a(href='https://instagram.com/__steven_xu__', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x
                .contact
                    a(href='http://weibo.com/u/2611917557', target='_blank')
                        span.fa-stack.fa-2x
                            i.fa.fa-circle-thin.fa-stack-2x
                            i.fa.fa-weibo.fa-stack-1x

block credits
    section.background-gray
        #credits
            | Themed by <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, Inspired by <a href="http://onepagelove.com" target="_blank">OnePageLove</a>
